<h1>All Users</h1>

<% @users.each do |user| %>
    <ul>
    <li><%= user.username.capitalize %></li>
    <br>
    </ul>
    

<% end %>

<style>
 body {
          color: gold;
          text-align: center;
          font-size: 1.3em;
          background-image:url('/images/image3.jpg');
          background-repeat: no-repeat;
          background-size: cover;
      }
</style>