<h1>Login to your account</h1>
<!--Form for login to post to login-->
<form action='/login' method='post'>
<label>Username:</label>
<input type="text" name="username" placeholder="username"/><br />
<label>Password:</label>
<input type="password" name="password" placeholder="password"/><br />
<input type="submit" />
</form>

<style>
 body {
          color: red;
          text-align: center;
          background-image:url('/images/image6.jpg');
          background-repeat: no-repeat;
          background-size: cover;
      }
</style>