<style>
 body {
          color: red;
          text-align: center;
          margin: auto;
          background-image:url('/images/image9.jpg');
          background-repeat: no-repeat;
          background-size: cover
      }
</style>

<h3>Welcome <%= @user.username.capitalize %></h3>

<h4>My Shows<h4>
<br>
<ul>
    <% @shows.each do |show| %>
        <li><h5><a href="/shows/<%= show.id %>"> <%= show.name %> </a> </li></h5> 
     <% end  %>
</ul>