
<h1>Sign Up</h1>
<!--Form for sign-up to post to /signup-->
<form class=""action='/signup' method='post'>
<label>Username:</label>
<input type="text" name="username" /><br />
<label>Email:</label>
<input type="email" name="email" /><br />
<label>Password:</label>
<input type="password" name="password" /><br />
<input type="submit" />
</form>

<%# <section id="cover" class="min-vh-100">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
                    <h1 class="display-4 py-2 text-truncate">Sign Up</h1>
                    <div class="px-2">

                        <form action='/signup' method="post" class="justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Username:</label>
                                <input type="text" name="username" class="form-control" placeholder="John Doe">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Email:</label>
                                <input type="text" name="email" class="form-control" placeholder="john.doe@example.com">
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Password</label>
                                <input type="password" name="class="form-control" placeholder="password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> %>

<style>
#cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}
</style>