<h1>All Shows</h1>

<ul id="cover">
<% @shows.each do |show| %>


<li><a href="/shows/<%= show.id %>"><%= show.name %></a><h5><%= show.user.username %> </h5></li>
<li>Rating: <%= show.rating.to_s %></li>

<% end %>

</ul>



<style>
 body {
          color: red;
          text-align: center;
          margin: auto;
          background-image:url('/images/image9.jpg');
          background-size: cover;
          text-align: center;
          font-size: 1.5em;
      }
h5 {
    color: gold;
}

#cover {
    text-align: center;
    display: auto;
    align-items: center;
    left: 0;
    position: center;
    top: 0;
    width: 50%;
    margin: auto;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
}      

</style>
