<h1>All Shows</h1>

<ul>
<% @shows.each do |show| %>

<li><a href="/shows/<%= show.id %>"><%= show.name %></a></li>

<% end %>

</ul>


<style>
 body {
          color: white;
          text-align: center;
          margin: auto;
          background-image:url('/images/image9.jpg');
          background-repeat: no-repeat;
          background-size: cover
      }
</style>
