
<div>

<h3>Add a Show</h3>

<form action="/shows" method="post">

<label>Name: </label>
<input type="text" name="name" /><br />
<label>Category: </label>
<select name="category">
    <option value="Suspense">Suspense</option>
    <option value="Comedy">Comedy</option>
    <option value="Action">Action</option>
    <option value="Foreign">Foreign</option>
    <option value="Drama">Drama</option>
    <option value="Family">Family</option>
    <option value="Anime">Anime</option>
    <option value="Docu-Series">Docu-Series</option>
    <option value="Cartoon">Cartoon</option>
</select><br />
<label>Seasons: </label>
<input type="number" name="seasons" /><br />
<label>Description: </label> <br />
<textarea name="description" rows="10" cols="30"> </textarea><br />
<label>Rating (between 1 and 5): </label>
<input type="number" name="rating" min="1" max="5"/><br />
<input type="submit" value="Create Show" />

</form>
</div>

<style>

body {
    background-image:url('/images/image7.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

</style>

<!-- t.string  "name"
t.string  "category"
t.integer "seasons"
t.string  "description"
t.integer "user_id" -->