
<div>

<h3>Add a Show</h3>

<form action="/shows" method="post">

<label>Name: </label>
<input type="text" name="name" required/><br />
<label>Category: </label>
<select name="category">
    <option value="Suspense">Suspense</option>
    <option value="Comedy">Comedy</option>
    <option value="Action">Action</option>
    <option value="Foreign">Foreign</option>
    <option value="Drama">Drama</option>
    <option value="Family">Family</option>
    <option value="Anime">Anime</option>
    <option value="Docu-Series">Docu-Series</option>
    <option value="Cartoon">Cartoon</option>
</select><br />
<label>Seasons: </label>
<input type="number" name="seasons" min="1" required/><br />
<label>Description: </label> <br />
<textarea name="description" rows="10" cols="30" required> </textarea><br />
<label>Rating (between 1 and 5): </label>
<input type="number" name="rating" min="1" max="5" required/><br />
<input type="submit" value="Create Show" />
</form>
</div>

<%# <section id="cover" class="min-vh-100">
    <div id="cover-caption">
    <div class="container">
    <div class="row text-white">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-4">
            <h1 class="display-4 py-2 text-truncate">Sign Up</h1>
                <div class="px-2">
                        <form action="" class="justify-content-center">
                            <div class="form-group">
                                <label class="sr-only">Name</label>
                                <input type="text" class="form-control" placeholder="John Doe">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Example select</label>
                                <select class="form-control" id="exampleFormControlSelect1">
                                    <option value="Suspense">Suspense</option>
                                    <option value="Comedy">Comedy</option>
                                    <option value="Action">Action</option>
                                    <option value="Foreign">Foreign</option>
                                    <option value="Drama">Drama</option>
                                    <option value="Family">Family</option>
                                    <option value="Anime">Anime</option>
                                    <option value="Docu-Series">Docu-Series</option>
                                    <option value="Cartoon">Cartoon</option>
                                </select>
                            </div>
                            
                            </div>
                            <div class="form-group">
                                <label class="sr-only">Seasons</label>
                                <label for="exampleSelect1">Example select</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10+</option>
                                    </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                               <label class="sr-only">Seasons</label>
                                <label for="exampleSelect1">Example select</label>
                                    <select class="form-control" id="exampleSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> %>

<style>

body {
    background-image:url('/images/image7.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    color: red;
    font-weight: bold;
    margin: auto;
}

</style>
